@charset "utf-8";
form{
    width: 500px;
    margin: auto;
}
fieldset{
    width: 500px;
    border-color: #cececece;
    margin: 20px;
}
input, textarea{
    font-family: sans-serif;
    font-size: 13pt;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0.589);
}
legend{
    color: #888888;
    font-weight: bold;
    font-family: sans-serif;

}
input:hover, textarea:hover{
    background: rgba(179, 172, 172, 0.5)
}
fieldset#sexUser {
    width: 280px;
    margin-left: 50px;
}
fieldset#usuMsg textarea {
    margin-left: 50px;
}
#enviarId{
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 240px;
    width: 80px;
    height: 50px;
    background-color: #cececece;
    border: 1px solid black;
    border-radius: 16px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}
#enviarId:hover{
    background-color: #606060;
    color: #ffffff;
    border: 1px solid white;
}